.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  font-family: 'Monoton', cursive;
  font-size: 4rem;
}

.button {
  background-color: gold !important;
  border: none !important;
  color: #443e3e !important;
}
